body{
  background-color:rgb(0,0,33);
  color: aliceblue;
 font-family: 'Poppins',sans-serif;
}
nav{
 display: flex;
 justify-content: space-around;
 text-align: center;
 height: 90px;
 background-color: rgba(0, 0, 255, 0.129) ;
 
}


.contact-card {
    background-color: var(--midnight-blue);
    padding: 50px 25px;
    border-radius: var(--radius-20);
  }
  
  .contact-card .card-subtitle {
    color: var(--orange-soda);
    font-family: var(--ff-barlow);
    font-size: var(--fs-4);
    font-weight: var(--fw-600);
  }
  
  .contact .section-title {
    text-align: left;
    margin-block-end: 30px;
  }
  
  .contact-form { margin-block-end: 50px; }
  
  .contact-input {
    background-color: var(--white);
    color: var(--manatee);
    border-radius: var(--radius-5);
    padding: 15px 25px;
    font-size: var(--fs-5);
    margin-block-end: 15px;
  }
  
  .contact-input::placeholder { color: inherit; }
  
  textarea.contact-input {
    resize: vertical;
    min-height: 100px;
    height: 180px;
    max-height: 300px;
  }
  
  .btn-submit {
    background-color: var(--orange-soda);
    color: var(--white);
    font-family: var(--ff-barlow);
    font-size: var(--fs-5);
    width: 100%;
    padding: 10px;
    border-radius: var(--radius-5);
    transition: var(--transition-2);
  }
  
  .btn-submit:is(:hover, :focus) {
    background-color: var(--white);
    color: var(--black);
  }
  
  .contact-item {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .contact-item:not(:last-child) { margin-block-end: 20px; }
  
  .contact-icon {
    background-color: var(--glaucous);
    font-size: 2.4rem;
    padding: 20px;
    border-radius: 50%;
  }
  
  .contact-item-title {
    color: var(--white);
    font-family: var(--ff-barlow);
    font-size: var(--fs-4);
    font-weight: var(--fw-600);
  }
  
  .contact-item-link { transition: var(--transition-1); }
  
  .contact-item-link:not(address):is(:hover, :focus) { color: var(--white); }
  .contact-card { padding: 100px; }
  
    .contact .wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 80px;
    }
  
    .contact-form { margin-block-end: 0; }
  
    .contact-item { gap: 25px; }
  
    .contact-icon { padding: 30px; }
  
  